body {
    padding: 0;
    margin: 0
}

#unity-container {
position: fixed;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background: #080808
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#unity-logo {
	display: flex;
	align-items: center;
    justify-content: center;
	width: auto;
    height: calc(min(18vh, 18vw));
    background: url('ui_princewalk_apng.png') no-repeat center;
	background-size: contain;
}

#unity-progress-bar-empty {
	display: flex;
	margin-top: -2.5vh;
    height: calc(min(4.5vh, 4.5vw));
	background: url('ui_loadingborder.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
    border: 1px;
}

#unity-progress-bar-border {
    position: absolute;
	width: 100%;
    height: calc(min(4.5vh, 4.5vw));
	background: url('ui_loadingborder.png') no-repeat center;
    background-size: contain;
    overflow: hidden;
    border-radius: calc(min(5vh, 5vw));
}

#unity-progress-bar-full {
    position: relative;
    top: calc(min(0.65vh, 0.65vw));
    height: calc(min(3.3vh, 3.3vw));
    background: url('ui_loadingfill.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    border-radius: calc(min(5vh, 5vw));
    scale: 0.97;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

.loading-animation::after {
    content: "...";
    animation: ellipsis 1s infinite steps(3);
    display: inline-block;
}

@keyframes ellipsis {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }

}

.container {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	width: calc(min(35vh, 35vw));
    font-size: calc(min(4vh, 4vw));
}

.text {
    margin-top: auto;
	margin-left: calc(min(0.65vh, 0.65vw));
    display: inline-block;
    margin-right: 10px;
}

#loading {
    display: inline-block;
}

#orientation-lock {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    display: none;
 }
    #orientation-lock .orientation-message {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 2em;
      text-align: center;
      padding: 1em;
    }

h1 {
    text-align: center;
    color: #DB9850;
}

.pull {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

.overlay {
    display: none;
    position: fixed; /* use viewport as reference */
    inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
    background: rgba(37,18,3,0.70); /* same color with alpha ~ 0.7 */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 9999; /* ensure on top */
    touch-action: none; /* prevent default gestures (pan/zoom) */
    pointer-events: none; /* ensure overlay receives input */
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    height: 8vh;
    min-height: 40px;
    max-height: 80px;
    width: 100%;
    position: absolute;
    top: 70px;
    padding: 0 20px;
    gap: 10px;
}

    .topBar img {
        width: 8vw;
        min-width: 20px;
        max-width: 100px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: contain;
        transition: all 0.3s ease;
        border-radius: 5px;
        opacity: 35%;
    }

.iconContainer {
    width: 314px;
    height: 342px;
    position: absolute;
    left: 40%;
    top: 35%;
}

.princeBox {
    opacity: 0;
    position: relative;
    height: 0;
    overflow: visible;
    left: -75%;
    top: 25%;
}
    .princeBox img {
        width: 55%;
    }
    .iconContainer span {
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 30px;
        opacity: 0;
        color: #F6C400;
        font-family: 'Gumbo';
        font-weight: 400;
        text-wrap: nowrap;
        justify-content: center;
        text-transform: uppercase;
        margin-bottom: 30%;
    }
    .iconContainer p {
        display: flex;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 30px;
        opacity: 0;
        color: #F6C400;
        font-family: 'Gumbo';
        font-weight: 400;
        text-wrap: nowrap;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 30%;
    }

.phone {
    position: relative;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border: 0 solid #FDE9D6;
    background: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    scale: 2;
}
    .phone i {
        text-align: center;
        width: 100%;
        line-height: 120px;
        font-size: 50px;
        color: #F6C400;
        opacity: 0;
    }

/* Animation classes for JS logic */
.phone-animate {
    animation:
        sizeIncrease .5s forwards ease,
        borderIncrease .5s .5s forwards ease,
        rotateRight .7s 1s forwards ease;
}
.icon-animate {
    animation: fadeIn .5s .8s forwards ease;
}
.text-animate {
    animation: fadeIn .5s 1.3s forwards ease;
}

/* KEYFRAMES
------------------------------------------- */
@keyframes sizeIncrease {
    0%   { width: 0; height:10px; }
    50%  { width: 100px; height: 10px; }
    100% { width: 100px; height:155px; }
}
@keyframes borderIncrease {
    100% { border-width:20px 10px; }
}
@keyframes fadeIn {
    100% { opacity: 1; }
}
@keyframes rotateRight {
    100% { transform: rotate(90deg); }
}

@font-face {
    font-family: 'Gumbo';
    src: local('Gumbo'), local('Gumbo-Regular'), url('Gumbo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}